<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <ul>
            <li>
                <form action="/admin/users" method="get">
                    <button type="submit">Manage Users</button>
                </form>
            </li>
            <li>
                <form action="/admin/logout" method="get">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>