{% extends "base_dashboard.html" %}

{% block title %}Update User{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>Update User: {{ user.username }}</h1>
        <form action="/admin/users/update/{{ user.username }}" method="post">
            <label for="username">New Username</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" required>
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" placeholder="Enter new password if changing">
            <button type="submit">Update User</button>
        </form>
    </div>
{% endblock %}