{% extends "base_dashboard.html" %}

{% block title %}Add New User{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>Add New User</h1>
        <form action="/admin/users/add" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Add User</button>
        </form>
    </div>
{% endblock %}