<!DOCTYPE html>
<html>
<head>
    <title>Check-out</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Check-out</h1>
        <form action="/transaction/checkout" method="post">
            <label for="id">Customer ID</label>
            <input type="text" id="id" name="id" required>
            <label for="no">Room No.</label>
            <input type="text" id="no" name="no" required>
            <button type="submit">Check-out</button>
        </form>
        <form action="/transaction" method="get">
            <button type="submit">Back to Transaction Management</button>
        </form>
    </div>
</body>
</html>