
{% extends "base_dashboard.html" %}
{% block title %}Customer Report - HotelMang{% endblock %}

{% block content %}
<div class="content-card content-card-lg">
    <h1>Customer Report</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in records %}
            <tr>
                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
