
{% extends "base_dashboard.html" %}
{% block title %}Customer Management - HotelMang{% endblock %}

{% block content %}
<div class="content-card">
    <h1>Customer Management</h1>
    <div class="card-actions">
        <a href="{{ url_for('new_customer') }}" class="btn btn-primary"><i class="fas fa-plus"></i>Add new Customer</a>
        <a href="{{ url_for('select_customer_to_update') }}" class="btn btn-secondary"><i class="fas fa-edit"></i>Update existing Customer</a>
        <a href="{{ url_for('delete_customer') }}" class="btn btn-secondary"><i class="fas fa-trash"></i>Delete existing Customer</a>
        <a href="{{ url_for('customer_report') }}" class="btn btn-secondary"><i class="fas fa-file-alt"></i>Report</a>
    </div>
</div>
{% endblock %}
