<!DOCTYPE html>
<html>
<head>
    <title>Customer Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Customer Management</h1>
        <ul>
            <li><a href="/customer/new">Add new Customer</a></li>
            <li><a href="/customer/update">Update existing Customer</a></li>
            <li><a href="/customer/delete">Delete existing Customer</a></li>
            <li><a href="/customer/report">Report</a></li>
            <li><a href="/main_menu">Back to Main Menu</a></li>
        </ul>
    </div>
</body>
</html>