{% extends "base_dashboard.html" %}

{% block title %}Customer Management{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>Customer Management</h1>
        <ul>
            <li>
                <form action="/customer/new" method="get">
                    <button type="submit">Add new Customer</button>
                </form>
            </li>
            <li>
                <form action="/customer/update" method="get">
                    <button type="submit">Update existing Customer</button>
                </form>
            </li>
            <li>
                <form action="/customer/delete" method="get">
                    <button type="submit">Delete existing Customer</button>
                </form>
            </li>
            <li>
                <form action="/customer/report" method="get">
                    <button type="submit">Report</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}