<!DOCTYPE html>
<html>
<head>
    <title>Delete Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Delete Customer</h1>
        <form action="/customer/delete" method="post">
            <label for="cID">Customer ID to Delete</label>
            <input type="text" id="cID" name="cID" required>
            <button type="submit">Delete Customer</button>
        </form>
        <form action="/customer" method="get">
            <button type="submit">Back to Customer Management</button>
        </form>
    </div>
</body>
</html>