
{% extends "base_dashboard.html" %}
{% block title %}Dashboard - HotelFlow{% endblock %}

{% block content %}
<div class="content-card">
    <h1>Dashboard</h1>
    <div class="card-actions">
        <a href="{{ url_for('room_management') }}" class="btn btn-secondary"><i class="fas fa-bed"></i>Room Management</a>
        <a href="{{ url_for('customer') }}" class="btn btn-secondary"><i class="fas fa-users"></i>Customer Management</a>
        <a href="{{ url_for('transaction') }}" class="btn btn-secondary"><i class="fas fa-exchange-alt"></i>Transaction Management</a>
        <a href="{{ url_for('report_menu') }}" class="btn btn-secondary"><i class="fas fa-chart-bar"></i>View Reports</a>
    </div>
</div>
{% endblock %}
