<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Main Menu</h1>
        <ul>
            <li><a href="/room">Room Master</a></li>
            <li><a href="/customer">Customer Master</a></li>
            <li><a href="/transaction">Transaction</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</body>
</html>