<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Report</h1>
        <ul>
            <li><a href="/customer/report">Customer Report</a></li>
            <li><a href="/room/report">Room Report</a></li>
            <li><a href="/transaction/report">Transaction Report</a></li>
            <li><a href="/main_menu">Back to Main Menu</a></li>
        </ul>
    </div>
</body>
</html>