<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Report</h1>
        <ul>
            <li>
                <form action="/customer/report" method="get">
                    <button type="submit">Customer Report</button>
                </form>
            </li>
            <li>
                <form action="/room/report" method="get">
                    <button type="submit">Room Report</button>
                </form>
            </li>
            <li>
                <form action="/transaction/report" method="get">
                    <button type="submit">Transaction Report</button>
                </form>
            </li>
            <li>
                <form action="/main_menu" method="get">
                    <button type="submit">Back to Main Menu</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>