
{% extends "base_dashboard.html" %}
{% block title %}Reports - HotelFlow{% endblock %}

{% block content %}
<div class="content-card">
    <h1>Reports</h1>
    <div class="card-actions">
        <a href="{{ url_for('customer_report') }}" class="btn btn-secondary"><i class="fas fa-users"></i>Customer Report</a>
        <a href="{{ url_for('room_report') }}" class="btn btn-secondary"><i class="fas fa-bed"></i>Room Report</a>
        <a href="{{ url_for('transaction_report') }}" class="btn btn-secondary"><i class="fas fa-exchange-alt"></i>Transaction Report</a>
    </div>
</div>
{% endblock %}
