<!DOCTYPE html>
<html>
<head>
    <title>Room Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Room Management</h1>
        <ul>
            <li>
                <form action="/room/new" method="get">
                    <button type="submit">Add new Room</button>
                </form>
            </li>
            <li>
                <form action="/room/update" method="get">
                    <button type="submit">Update existing Room</button>
                </form>
            </li>
            <li>
                <form action="/room/delete" method="get">
                    <button type="submit">Delete existing Room</button>
                </form>
            </li>
            <li>
                <form action="/room/report" method="get">
                    <button type="submit">Report</button>
                </form>
            </li>
            <li>
                <form action="/main_menu" method="get">
                    <button type="submit">Back to Main Menu</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>