<!DOCTYPE html>
<html>
<head>
    <title>Room Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Room Management</h1>
        <ul>
            <li><a href="/room/new">Add new Room</a></li>
            <li><a href="/room/update">Update existing Room</a></li>
            <li><a href="/room/delete">Delete existing Room</a></li>
            <li><a href="/room/report">Report</a></li>
            <li><a href="/main_menu">Back to Main Menu</a></li>
        </ul>
    </div>
</body>
</html>