
{% extends "base_dashboard.html" %}
{% block title %}Room Report - HotelFlow{% endblock %}

{% block content %}
<div class="content-card content-card-lg">
    <h1>Room Report</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for room in records %}
            <tr>
                <td>{{ room[0] }}</td>
                <td>{{ room[1] }}</td>
                <td>{{ room[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
