
{% extends "base_dashboard.html" %}
{% block title %}Select Room to Update - HotelMang{% endblock %}

{% block content %}
<div class="content-card content-card-lg">
    <h1>Select Room to Update</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Rate</th>
                <th style="width: 120px;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td>{{ room[0] }}</td>
                <td>{{ room[1] }}</td>
                <td>{{ room[2] }}</td>
                <td>
                    <a href="{{ url_for('update_room', roomno=room[0]) }}" class="btn btn-primary btn-small">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
