
{% extends "base_dashboard.html" %}
{% block title %}Transaction Report - HotelFlow{% endblock %}

{% block content %}
<div class="content-card content-card-lg">
    <h1>Transaction Report</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Room Number</th>
                <th>Check-In Date</th>
                <th>Check-Out Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in records %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
