
{% extends "base_dashboard.html" %}
{% block title %}Transaction Management - HotelFlow{% endblock %}

{% block content %}
<div class="content-card">
    <h1>Transaction Management</h1>
    <div class="card-actions">
        <a href="{{ url_for('checkin') }}" class="btn btn-primary"><i class="fas fa-calendar-check"></i>Check-In</a>
        <a href="{{ url_for('checkout') }}" class="btn btn-secondary"><i class="fas fa-calendar-times"></i>Check-Out</a>
        <a href="{{ url_for('transaction_report') }}" class="btn btn-secondary"><i class="fas fa-file-alt"></i>Report</a>
    </div>
</div>
{% endblock %}
