<!DOCTYPE html>
<html>
<head>
    <title>Transaction Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Transaction Management</h1>
        <ul>
            <li>
                <form action="/transaction/checkin" method="get">
                    <button type="submit">Room Check-in</button>
                </form>
            </li>
            <li>
                <form action="/transaction/checkout" method="get">
                    <button type="submit">Room Check-out</button>
                </form>
            </li>
            <li>
                <form action="/transaction/report" method="get">
                    <button type="submit">Report</button>
                </form>
            </li>
            <li>
                <form action="/main_menu" method="get">
                    <button type="submit">Back to Main Menu</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>