{% extends "base_dashboard.html" %}

{% block title %}Transaction Management{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>Transaction Management</h1>
        <ul>
            <li>
                <form action="/transaction/checkin" method="get">
                    <button type="submit">Room Check-in</button>
                </form>
            </li>
            <li>
                <form action="/transaction/checkout" method="get">
                    <button type="submit">Room Check-out</button>
                </form>
            </li>
            <li>
                <form action="/transaction/report" method="get">
                    <button type="submit">Report</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}