{% extends "base_dashboard.html" %}

{% block title %}Transaction Report{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>Transaction Report</h1>
        <table>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Room No.</th>
                    <th>Is Occupied</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}