<!DOCTYPE html>
<html>
<head>
    <title>Update Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Update Customer</h1>
        <form action="/customer/update/{{ customer[0] }}" method="post">
            <label for="cID">Customer ID</label>
            <input type="text" id="cID" name="cID" value="{{ customer[0] }}" required>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{ customer[1] }}" required>
            <button type="submit">Update Customer</button>
        </form>
        <form action="/customer" method="get">
            <button type="submit">Back to Customer Management</button>
        </form>
    </div>
</body>
</html>